*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

     
    .center{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2%;
        background-color: #0F4C75;
        margin-left: 350px;
       
    }
     
    
    header{ 
        background-color: #0F4C75;
        padding: 20px ;
    }
    
    .Nome{
        background-color: #0F4C75;
        font-size: 60px;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
    }
    
    .Frase{
        background-color: #0F4C75;
        font-size: 15px;
        color: white;
        text-decoration: none;
        font-weight:bold;
        margin: 75px;
    }
    .Menu{
        background-color: #0F4C75;
        width:  50%;
        text-align:right;
        padding-top: 5px;
    }
    .Menu a{
    
        background-color: #0F4C75;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
        margin-right: 15px;}
        
                  
#Titulo{
    font-size: 15px;
    color: #0F4C75;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
   
}
   #imagem {
    width: 250px;
    height: 200px;
    margin-left: 30px;
    border: 5px solid #0F4C75;
    float: left;
    margin-right: 10px;
   }


          
#Titulo2{
    font-size: 15px;
    color: #0F4C75;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    margin-top: 200px;
   
    
}

   #imagem2 {
    width: 250px;
    height: 200px;
    margin-left: 30px;
    border: 5px solid #0F4C75;
    float: left;
    margin-right: 10px;
  
   }

         
#Titulo3{
    font-size: 15px;
    color: #0F4C75;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    margin-top: 200px;
   
    
}

   #imagem3 {
    width: 250px;
    height: 200px;
    margin-left: 30px;
    border: 5px solid #0F4C75;
    float: left;
    margin-right: 10px;
  
   }
   #info{
    font-size: 13px;
    color: #050505;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    margin-top: 10px;
    margin-left: 200px;
    line-height: 30px;
    background-color: antiquewhite;

   }
   #info2{
    font-size: 13px;
    color: #050505;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    margin-top: -480px;
    margin-left: 200px;
    line-height: 30px;
    background-color: antiquewhite;

   }
   #info3{
    font-size: 13px;
    color: #050505;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    margin-top: -430px;
    margin-left: 200px;
    line-height: 30px;
    background-color: antiquewhite;

   }
   footer {
    background-color: #0F4C75;
    padding: 100px;
    text-align:left;
    line-height: 30px;
    margin-top: 700px;
    
  }
  